body {
  background-color: #f6f6f2;
  margin: 0;
  padding: 0;
}
.navbar {
  position: relative;
  top: 65px;
  width: 100%;
  height: 62.77px;
  background-color: #388087;
  /*rgb(150, 161, 148);*/
  margin: auto;
  /*display: flex;
  align-items: center;
justify-content: center;*/
}


.navbar a:hover {
  background-color: #f6f6f2;;
  color: #388087;
}

.navbar a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  padding-bottom: 4px;
  padding-top: 17px;
  margin: 0;
  height: 45.77px;
  text-decoration: none;
  font-size: 22px;
  /* font-family: Arial, Helvetica, sans-serif;*/
 /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
  font-family: 'Times New Roman', Times, serif;
}




.topofpage {
  top: 0%;
  left: 0;
  margin: 0;
  padding: 0;
  height: 65px;
  width: 100%;
  background-color: #388087;
  position: fixed;
  text-align: left;
  z-index: 100;
  font-family: 'Times New Roman', Times, serif;
}

.topofpage p {
  margin: 0;


}



.dropdown-content {
  display: none;
  position: absolute;
  background-color:  #388087;
  top: 62.77px;
  z-index: 1;
  width: 100%;
}



.tab1,
.tab2,
.tab3,
.tab4,
.logout {
  width: auto;
  position: relative;
  display: inline-block;
  height: 62.77px;

}

.tocenter {
  position: absolute;
  width: 50%;
}

.tab1:hover .dropdown-content {
  display: block;
}

.tab2:hover .dropdown-content {
  display: block;
}

.tab3:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  /*color: #D9DED8;*/
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  width: 100%;
  display: block;
  text-decoration: none;
  font-size: 19px;
  font-family: 'Times New Roman', Times, serif;
}

.need-more .dropdown-content a {
  padding-bottom: 20px;
}



.topofpage p{
  line-height: 2;
}
img.logo-small{
  border-radius: 50%;
  height: 50px;
  margin-left:15px;
  margin-top: 7px;
  }
.webname{
  position: absolute;
  top:7px;

left:80px;
font: weight 600px;
font-size: x-large;
color: white;
}
